<div ng-controller="HomeCtrl" id="Home">

<div id="title0" ng-click="title0Tap()">
<h1>Dreams Meaning</h1>

</div>

<div id="card1" ng-click="card1Tap()">
<div class="card">
  <div class="item item-text-wrap">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </div>
</div>

</div>

<div id="card_with_image_on_left_two_text_rows2" ng-click="card_with_image_on_left_two_text_rows2Tap()">
<div class="list card">
  <div class="item item-avatar">
    <img ng-src="http://www.appgyver.com/composer/composer-default-square.png">
    <h2>My Title</h2>
    <p>My Content.</p>
  </div>
</div>

</div>

<div id="list_item3" ng-click="list_item3Tap()">
<div class="list">
  <a class="item item-icon-left item-icon-right" href="#" ng-click="">
  
    <span class="badge badge-assertive badge-right-composer">5</span>
  
  
    <i class="icon ion-star"></i>
  
    More
  
    <i class="icon ion-chevron-right"></i>
  
  </a>
</div>

</div>

<div id="list_item_text_with_label4" ng-click="list_item_text_with_label4Tap()">
<div class="list">
  <label class="item item-input">
    <div class="input-label"><strong>My Title</strong></div>
    <p>My Content</p>
  </label>
</div>

</div>

</div>